<app-social></app-social>
<app-logo></app-logo>
<div class="container">
    <div id="login-component">
        <p class="font-popping description">One login to manage all apps</p>
        <form action="#" id="login-form">
            <input type="text" placeholder="Username" required><br>
            <input type="password" placeholder="Password" required><br><br>
            <input type="button" value="LOGIN" class="font-popping">
            <p style="text-align: end;"><a class="link font-popping" href="#">Forgot Password?</a></p>
        </form>
        <hr><br><br>
        <p class="font-popping text-red">Don't have an account yet?</p>
        <form action="#" id="register-form">
            <input type="text" placeholder="Username" required><br>
            <input type="email" placeholder="Email" required><br>
            <input type="password" placeholder="Password" required><br><br>
            <input type="button" value="REGISTER" class="font-popping">
        </form>
    </div>
</div>
<app-footer></app-footer>