<div id="skills-component">
    <div class="container">
        <div class="grid grid-4">
            <div class="card card-hover span-col-2" style="background:#000;border: 3px solid #000;">
                <a href="#"><img src="../../assets/python.png" alt="python developer"></a>
            </div>
            <div class="card card-hover span-col-2" style="background:#232f3e;border: 3px solid #232f3e;">
                <a href="#"><img src="../../assets/aws.png" alt="python developer"></a>
            </div>
            <div class="card card-hover span-col-2" style="background:#0143a3;border: 3px solid #0143a3;">
                <a href="#"><img src="../../assets/angular.png" alt="python developer"></a>
            </div>
            <div class="card card-hover span-col-2" style="background:#f1c911;border: 3px solid #f1c911;">
                <a href="#"><img src="../../assets/pbi.png" alt="python developer"></a>
            </div>
            <div class="card"></div>
            <div class="card card-hover span-col-2" style="border: 3px solid orangered;">
                <a href="#"><img src="../../assets/swift.png" alt="python developer"></a>
            </div>
            <div class="card card-hover span-col-2" style="border: 3px solid green;">
                <a href="#"><img src="../../assets/mongodb.png" alt="python developer"></a>
            </div>
            <div class="card card-hover span-col-2" style="border: 3px solid red;">
                <a href="#"><img src="../../assets/tfk.png" alt="python developer"></a>
            </div>
            <div class="card"></div>
        </div>
        <br>
        <p style="text-align: center;"><a class="link font-popping" href="#">Know more..</a></p>
    </div>
</div>